
/*Estilos generales*/
.displayNone{
    display: none;
}
md-card{
  /*background: #;*/
}
#frmRegisterPropietary{
  padding-top: 40px;
}
#frmRegisterPlayers{
  padding-top: 40px;
}
#frmRegisterBuy{
  padding-top: 40px;
}
md-input-container label{
  color: #000;
  margin-left: 14px;
}
/*Inicio estilos del buscador*/
.inputSearch .search-form{
  padding-top: 25px;
}
.main-panel{
  padding-top: 60px;
}
#frmRegisterBuy md-input-container md-optgroup md-option{
  color: #000;
  font-size: 30px;
}
/*Fin estilos del buscador*/
