<div class="wrapper">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">Examen1</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="#!/landing">Inicio</a></li>
          <li><a  href="#!/players">Jugadores</a></li>
          <li><a href="#!/proprietary">Propiedades</a></li>
          <li><a href="#!/buy">Compra</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="main-panel">
    <div class="container" >

      <!-- Inicio de la sección registerPropietary, que contiene el formulario de la propiedad, registrar, modificar y listar-->
      <section id="registerPropietary">

        <h1>Propiedades</h1>
        <hr>

        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" ng-click="back()" href="">Registro</a></li>
          <li><a data-toggle="tab" ng-click="next()" href="">Propiedades registradas</a></li>
        </ul>

        <!-- Inicio del formulario de la propiedad -->
        <form name="frmRegisterPropietary" ng-submit="vm.presave(vm)" novalidate autocomplete="off">

          <!--Inicio de los inpust para el formulario  -->
          <div class="col-xs-12" id="frmRegisterPropietary" ng-show="page==1">
            <md-input-container class="col-xs-12 col-sm-4 col-md-4" layout="column">
              <label for="">Nombre:</label>
              <input type="text" ng-model="vm.name" name="name" ng-maxlength="20" required>
              <div ng-messages="frmRegisterPropietary.name.$error">
                <div ng-messages-include="components/includes/messages.html"></div>
              </div> <!--cierre del ng-messages -->
            </md-input-container>

            <md-input-container class="col-xs-12 col-sm-4 col-md-4" layout="column">
              <label for="">Código:</label>
              <input type="text" ng-model="vm.identi" name="identi" ng-maxlength="20" required>
              <div ng-messages="frmRegisterPropietary.identi.$error">
                <div ng-messages-include="components/includes/messages.html"></div>
              </div> <!--cierre del ng-messages -->
            </md-input-container>

            <md-input-container class="col-xs-12 col-sm-4 col-md-4" layout="column">
              <label for="">Posición:</label>
              <input type="text" ng-model="vm.posistion" name="posistion" ng-maxlength="20" required>
              <div ng-messages="frmRegisterPropietary.posistion.$error">
                <div ng-messages-include="components/includes/messages.html"></div>
              </div> <!--cierre del ng-messages -->
            </md-input-container>

            <md-input-container class="col-xs-12 col-sm-4 col-md-4" layout="column">
              <label for="">Precio:</label>
              <input type="number" ng-model="vm.price" name="price" ng-maxlength="20" required>
              <div ng-messages="frmRegisterPropietary.price.$error">
                <div ng-messages-include="components/includes/messages.html"></div>
              </div> <!--cierre del ng-messages -->
            </md-input-container>

            <md-input-container class="col-xs-12 col-sm-4 col-md-4" layout="column">
              <label for="">Grupo:</label>
              <input type="text" ng-model="vm.group" name="group" required>
              <div ng-messages="frmRegisterPropietary.group.$error">
                <div ng-messages-include="components/includes/messages.html"></div>
              </div> <!--cierre del ng-messages -->
            </md-input-container>

            <md-input-container class="col-xs-12 col-sm-4 col-md-4" layout="column">
              <label for="">Propiedad de:</label>
              <input type="text" ng-model="vm.ownedby" name="ownedby" required>
              <div ng-messages="frmRegisterPropietary.ownedby.$error">
                <div ng-messages-include="components/includes/messages.html"></div>
              </div> <!--cierre del ng-messages -->
            </md-input-container>

            <md-input-container class="col-xs-12 col-sm-4 col-md-4" layout="column">
              <label for="">Probabilidad:</label>
              <input type="text" ng-model="vm.averageProbability" name="averageProbability" required>
              <div ng-messages="frmRegisterPropietary.averageProbability.$error">
                <div ng-messages-include="components/includes/messages.html"></div>
              </div> <!--cierre del ng-messages -->
            </md-input-container>

            <!-- Botones de Seleccionar foto, Registrar y Actualizar -->
            <div class="col-xs-12 col-sm-12 col-md-12">
              <div class="input-group">
                <label class="input-group-btn">
                  <span class="btn btn-info">
                    Seleccionar foto
                    <input type="file" style="display: none;" ng-model="vm.photo" name="photo" id="photo">
                  </span>
                </label>
              </div>

              <div class="col-xs-12">
                <div id="registrar">
                  <md-button class="button Active" type="submit" ng-disabled="frmRegisterPropietary.$invalid">Registrar</md-button>
                </div>

                <div class="displayNone" id="actualizar">
                  <md-button class="button edit" type="button" ng-disabled="frmRegisterPropietary.$invalid" ng-click="vm.update(proprietary);next()">Actualizar</md-button>
                </div>
              </div>
            </div>

          </div>

        </section> <!-- Cierre de la sección registerPropietary -->
      </form> <!-- Cierre del formulario de la propiedad  -->
    </div>

    <div class="container" ng-show="page==2">

      <!--Buscador de la propiedad-->
      <section class="inputSearch">
        <div class="col-sm-3 col-md-3 col-sm-offset-9 col-md-offset-9">
          <form action="" class="search-form">
            <div class="form-group has-feedback">
              <label for="Buscar" class="sr-only">Buscar</label>
              <input type="text" class="form-control" name="nameFilter" ng-model="vm.nameFilter" placeholder="Buscar...">
              <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
          </form>
        </div>
      </section>

      <div class="col-xs-12">
        <!--inicio de los cards -->
        <md-card class="container-fluid col-md-4 col-sm-6 " ng-repeat="proprietary in vm.proprietary | filter:vm.nameFilter">
          <md-card-header>
            <md-card-header-text>
              <span class="md-title">{{proprietary.name}}</span>
              <span class="md-subhead">{{proprietary.identi}}</span>
            </md-card-header-text>
          </md-card-header>

          <md-card-title>
            <md-card-title-text>
              <span class="md-subhead">Posición: {{proprietary.posistion}}</span>
              <span class="md-subhead">Precio: {{proprietary.price}}</span>
              <span class="md-subhead">Grupo: {{proprietary.group}}</span>
              <span class="md-subhead">Propiedad de: {{proprietary.ownedby}}</span>
              <span class="md-subhead">Hipoteca: {{proprietary.mortgaged}}</span>
              <span class="md-subhead">Probabilidad: {{proprietary.averageProbability}}</span>
            </md-card-title-text>
            <md-card-title-media>
              <div class="md-media-md card-media">
                <img ng-src="{{proprietary.photo}}" alt="Sin fotografía">
              </div>
            </md-card-title-media>
          </md-card-title>

          <!-- Boton para cambiar el editar los jugadores -->
          <md-card-actions id="buttons">
            <md-button class="edit" ng-click="vm.getInfo(proprietary);vm.hideButton();register()">Editar</md-button>
            <md-card-icon-actions> <!-- cierre botones  -->
              <!--fin de los cards -->
            </div>
          </div>
        </div>
      </div>
